/* header section */

.coffee-header {
    width: 1440px;
    height: 260px;
    background: url(./imgs/header/headerOurCoffee.jpg);
    /* background-size: 1450px;
    background-position: center; */
    font-family: 'Merienda';
    font-style: normal;
    color: #FFFFFF;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.coffee-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 235px;
    font-weight: 700;
}

/* 
Main Section */

.main {
    width: 1440px;
    height: 1248px;
    font-family: 'Merienda';
    text-align: center;
    background: #FFFFFF;
    display: block;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */

}

.about-our-beans {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 27px;
    width: 840px;
    height: 455px
}

.drink-coffee-logo {
    width: 272px;
    height: 355px;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    background: url(./imgs/main/girl.jpg);
    background-size: cover;
}

.about-our-beans-text {
    width: 346px;
    height: 355px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-our-beans-text>h2 {
    font-size: 24px;
    padding-top: 9px;
}

.about-our-beans-text>div {
    margin: 8px;
}

.about-our-beans-text span {
    width: 346px;
    height: 232px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 14px;
}

hr {
    width: 240px;
    height: 0px;
    color: #000000;
    margin: 0px auto;
    margin-top: 10px;
    opacity: 1;
}

.search-filter-box {
    width: 800px;
    height: 30px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
}

.search-panel {
    width: 284px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-panel .search-text {
    width: 85px;
}

.search-text {
    width: 56px;
    height: 21px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.search-panel input {
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}

.search-panel input:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.filter-panel {
    width: 326px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-box .btn {
    width: 75px;
    height: 30px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    background: #FFFFFF;
}

.btn-box .btn:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.btn-box {
    width: 240px;
    height: 30px;
    display: flex;
    align-items: center;
}

.btn-3 {
    border-radius: 4px 0px 0px 4px;
}

.btn-3-1 {
    border-radius: 0px 4px 4px 0px;
}

.btn-3-2 {
    border-radius: 0px;
}

.coffee-items-box {

    margin: 0 auto;
    width: 800px;
    height: 631px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.coffee-items-box .coffee-item {
    height: 260px;
}

.coffee-page .footer {
    filter: none;
}

.resetBtn {
    cursor: pointer;
    font-size: 12px;
    display: none;
    margin: 20px;
}